---
import Layout from '../layouts/Default.astro';
---

<Layout>
  <div class="p-8">
    <h1 class="text-lg text-slate-50">What we do</h1>
    <p>We're solving a problem that affects everyone: working with data from many sources. Pipelet lets you build workflows to ingest, transform, and output data — without the need to set up multiple services like Grafana or Prometheus, or learn complex UNIX tooling. It's an end-to-end solution for powerful, flexible data manipulation.</p>
  </div>
  <div class="p-8">
    <h1 class="text-lg text-slate-50">Our Team</h1>
    <ul>
      <li>Tristan Ross</li>
    </ul>
  </div>
</Layout>
