---
import Layout from '../layouts/Default.astro';
---

<Layout>
  <div class="p-8">
    <h1 class="text-lg text-slate-50">Not yet ready</h1>
    <p>We're glad you're interested in pipelet.io, however we just are not quite ready to show anything yet. Please check for future announcements from Midstall Software.</p>
  </div>
</Layout>
